﻿@model List<ProductModel>
@{
    ViewData["Title"] = "Products";
}

<h1>Products</h1>
<a asp-controller="Product" asp-action="Create">Create</a>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Brand</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Category</td>
                <td>@product.Brand</td>
                <td>@product.Price</td>
            </tr>
        }
    </tbody>
</table>

