﻿@model List<CategoryModel>

@{
    ViewData["Title"] = "Categories";
}

<h1>Categories</h1>
<a asp-controller="Category" asp-action="Create">Create</a>
<table class="table">
    <thead>
    <tr>
        <th>Наименование</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var category in Model)
    {
        <tr>
            <td>
                @category.Name
            </td>
        </tr>
    }
    </tbody>
</table>